$bg-color:#152025;
$banner-controller:#1b3037;
$txt-white:#f5fbdc;
$txt-yellow-color: #f8b01a;
$txt-brown-color:#c1b3a3;
$controller-border:#faae1c;
$header-border-color: #00a9a7;
$linear-yellow:#e3bd07;
$linear-green: #02a9a5;
$introCard-grey: #374b54;
$products-camera-black-900: #152025;
$btn-white: #e1ddd6;